@tailwind base;
@tailwind components;
@tailwind utilities;

.typing-loop {
  display: block;
  font-size: 42px;
  white-space: nowrap;
  overflow: hidden;
  border-right: px solid white;
  animation: typing 8s steps(30) infinite, blink 3.6s infinite;
}

@keyframes typing {
  0% { width: 0; }
  50% { width: 120%; }
  100% { width: 0; }
}

@keyframes blink {
  50% { border-color: transparent; }
}
